.user-container{
  display:flex;
}
.user-list{
  margin-left:350px;
  padding:5px;
  width:60%;
}
h2{
  text-align: center;
}
#logout{
  display:none;
}
.cart{
  margin-top:100px;
  margin-left:50px;
  position: fixed;
}
.total-user{
  color:rgb(71, 97, 66);
  margin-left:50px;
  position:fixed;
  margin-bottom:50px;
  border-bottom:1px solid gray;
}